<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.MessageBoardMapper">
    <resultMap id="BaseMap" type="Mes">
        <id   column="id"      property="id"/>
        <result column="up" property="up"/>
        <result column="down" property="down"/>
        <result column="content" property="content"/>
    </resultMap>

    <select id="findAllMessage" resultMap="BaseMap" >
        SELECT  * FROM  message
    </select>


   <insert  id="insertMessage" useGeneratedKeys="true" keyProperty="id" parameterType="Mes">
       INSERT  INTO  message VALUES (NULL ,#{content},#{up},#{down})
   </insert>
</mapper>